* {
  font-family: "Titillium Web", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  display: flex;
  text-indent: -30px;
  line-height: 20px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #05386b;
  margin: 0px 30px;
}

a:hover {
  color: #379683;
}

h1 {
  color: #edf5e1;
  font-weight: bold;
  font-size: 65px;
  line-height: 55px;
  margin-bottom: 20px;
  z-index: 1;
}

h2 {
  color: #05386b;
  font-weight: bold;
  font-size: 30px;
  line-height: 25px;
  margin: 0px 30px;
}

h3 {
    color: #edf5e1;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 20px;
  z-index: 1;

}

p {
    color: #05386b;
    line-height: 16px;
    text-align: center;
}

button {
    padding: 0px 12px;
    border-radius: 20px;
    border-style: none;
    color: #edf5e1;
    background-color: #05386b;
    font-weight: 600;
    font-size: 20px;
    z-index: 1;
}

button:hover {
    background-color:#379683 ;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.navbar,
.hero {
  background-color: #5cdb95;
}

.info {
    background-color: #EDF5E1;
}

.quote {
    background-color: #05386B;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}


.hero .container {
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-card {
  margin: 30px;
  width: 200px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  align-self: center;
  z-index: 0;
}

.info .container {
    height: auto;
    display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.random-info {
    text-align: center;
    padding: 50px 0px;
}

.info-card{
    margin: 0px 30px;
    width: 200px;
    margin-bottom: 30px;
}

.info-box {
    height: 200px;
    width: 200px;
    border: 3px solid #05386b;
    border-radius: 20px;
    margin-bottom: 20px;
}

.quote .container {
    height: auto;
    align-items: flex-end;
}

.quote-info {
 color: #edf5e1;
 line-height: 37px;
font-style: oblique;
padding: 50px 50px 15px 50px;
}

/*

.hero-image {
    flex: 1;
    width: 300px;
    height: auto;
    border-radius: 20px;


}


body {
    margin: 0px;
   flex??
    display: flex;
    flex-direction: column;
    justify-content: center;

}






.hero .container{
  height: 600px;
  align-items: center;
  
}

.hero-card {
    display: flex;
    flex-direction: column;
    align-items: center;
   max-width: 550px;
   padding: 0 10px;
   flex: 1;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }

.navbar,
.hero,
footer {
    background-color: #1F2937;
}


*/
